<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Customer\Controller\Account\Confirm" type="Mapeco\Customer\Rewrite\Magento\Customer\Controller\Account\Confirm"/>
	<preference for="Swissup\Taxvat\Helper\Data" type="Mapeco\Customer\Rewrite\Helper\Data"/>

</config>
