<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="erporder" frontName="erporder">
			<module name="Mapeco_Sale"/>
		</route>
		<route id="erpinvoice" frontName="erpinvoice">
			<module name="Mapeco_Sale"/>
		</route>
		<route id="erpshipment" frontName="erpshipment">
			<module name="Mapeco_Sale"/>
		</route>
		<route id="erporderline" frontName="orderline">
			<module name="Mapeco_Sale"/>
		</route>
	</router>
</config>
